fastapi
uvicorn[standard]
supabase
python-dotenv
reportlab
python-barcode
python-multipart
pydantic
pydantic-settings
httpx
jinja2
aiohttp
cryptography
python-jose[cryptography]
gunicorn
firebase-admin
pytest
pytest-asyncio
asgi-lifespan
google-cloud-secret-manager
asyncpg